:root {
  --color-primary: rgb(254, 188, 8);
  --color-primary-transparent: rgb(254, 188, 8, 0.5);
  --media-mobile: 700px;
}

@import '~normalize.css';
@import 'button.scss';
@import 'forms.scss';

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Commissioner, Roboto, sans-serif;
  background-color: #111111;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  background-attachment: fixed;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
  scroll-behavior: smooth;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  scroll-behavior: smooth;
}

.page-content {
  @media (max-width: 700px) {
    padding-top: 6rem;
  }
}

p {
  .button {
    margin-right: 0.5rem;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  @media (max-width: 700px) {
    font-size: 2rem;
  }
}
h3 {
  font-weight: 600;
  font-size: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.1);
  padding: 0 2rem;
  border-radius: 4px;

  @media (max-width: 700px) {
    font-size: 2rem;
  }

  .icon {
    margin: 0 0.5rem 0 -0.5rem;
    @media (max-width: 700px) {
      width: 36px;
    }
  }

  & + h4 {
    margin-top: 0
  }
}
h4 {
  font-weight: 600;
  font-size: 2rem;
  margin: 3rem 0 0.5rem;
  align-self: flex-start;
  @media (max-width: 700px) {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 1.5rem;
  max-width: 900px;
  width: 100%;

  @media (max-width: 700px) {
    padding: 4rem 1rem;
  }
}

.menu-item {
  display: inline-flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  transition: 0.3s all ease;

  @media (max-width: 700px) {
    padding: 0 0.75rem;
  }

  &:hover {
    background-color: rgba(255,255,255,0.1);
  }

  &.is-small {
    font-size: 14px;
  }
}

.icon {
  margin: 0 0.5rem;
}
